# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
venv/
env/
ENV/
.env

# PyBuilder
.pybuilder/

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Static files (can be gathered via collectstatic instead)
# static/
